@import './index.css';

[data-theme="light"] {
  --bg-color-primary: #ffffff;
  --bg-color-secondary: #e6e6e6;
  
  --font-primary: #212529;
  --font-secondary: rgba(0, 0, 0, 0.623);

  --font-primary-negative: #dbdbdb;
  --font-secondary-negative: rgba(192, 192, 192, 0.55);

  --description-code-bg-color: rgb(214, 214, 214);
  --description-code-color: rgb(80, 80, 80);
}

[data-theme="dark"] {
  --bg-color-primary: #242424;
  --bg-color-secondary: #505050;
  
  --font-primary: #dbdbdb;
  --font-secondary: rgba(192, 192, 192, 0.55);

  --font-primary-negative: #212529;
  --font-secondary-negative: rgba(0, 0, 0, 0.55);

  --description-code-bg-color: rgb(201, 201, 201);
  --description-code-color: rgb(80, 80, 80);
}

html, body{
  background-color: var(--bg-color-primary) !important;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}
